*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    background: rgba(63, 63, 63, 0.8);
    width: 100%;
    height: 25px;
    position: fixed;
    top: 0;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: rgba(243, 243, 243, 1);
}
.nav li a:hover{
    background: aqua;
    color: rgba(63, 63, 63, 1);
    padding: 0.5em 0;
}
.nav h3{
    list-style: none;
}
.nav h3 a{
    text-decoration: none;
    color: rgba(243, 243, 243, 1);
}
.nav h3 a:hover{
    background: aqua;
    color: rgba(63, 63, 63, 1);
    padding: 0.2em 0;
}
.main{
    width: 100%;
    min-height: calc(100vh - 45px);
    max-height: max-content;
    background-image: linear-gradient(rgba(63, 63, 63, 0.4), rgba(243, 243, 243, 1), rgba(63, 63, 63, 0.4));
    margin-top: 25px;
    margin-bottom: 20px;
}
.main h1{
    display: flex;
    justify-content: center;
}
.main *{
    display: flex;
}
.home{
    align-items: center;
    height: calc(100vh - 45px);
}
.abo{
    align-items: center;
    height: calc(100vh - 60vh);
}
.aboutGD{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutGD div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 2em 4em;
    border: 1px solid #000;
    border-radius: 10px;
    width: 20%;
}
.aboutGD div hr{
    border: 1px solid black;
}
.bottom{
    background: rgba(63, 63, 63, 0.8);
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
}